*
    box-sizing: border-box
body
    +medium
    font-size: 16px

.button
    background: none
    border: 2px solid $border-light
    color: $text-light
    text-transform: uppercase
    padding: 20px 70px
    display: block
    margin: 0 auto

