@font-face {
	font-family: 'Proxima Nova LightIt';
	src: url('ProximaNova-LightIt.eot');
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
		url('../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-LightIt.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}



@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Corinthia';
	src: url('../fonts/Corinthia/corinthia.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Corinthia/corinthia.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Corinthia/corinthia.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Corinthia/corinthia.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Corinthia/corinthia.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Corinthia/corinthia.svg#corinthia') format('svg'); /* Chrome < 4, Legacy iOS */
}

@mixin lightIt {
font-family: 'Proxima Nova LightIt', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Light', sans-serif;
}
    
@mixin Semibold {
 font-family: 'Proxima Nova Semibold', sans-serif;
 }

 @mixin Corinthia {
    font-family: 'Corinthia', sans-serif;
    }